<!DOCTYPE html>
<html lang="fa" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== "undefined" ? title : "نرخ قهوه" %></title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/priceList.css">
</head>

    <body class="<%= currentPriceUser?.role == "admin" ? 'logged-in' : 'guest' %>">

  <% if (currentPriceUser?.role == "admin") { %>
    <%- include("./sidebar.ejs") %>
  <% } %>
  <div class="content">
    <main>
      <%- body %>
    </main>
  </div>
  <script src="/scripts/price-list.js" type="module" defer></script>
</body>
</html>