<aside class="sidebar sidebar-desktop">
  <!-- <div class="sidebar-top">
    <a href="/">
      <img src="/assets/pictures/header-logo.png" alt="فرآهمون" class="sidebar-logo" />
    </a>
  </div> -->

  <nav class="sidebar-nav">
    <ul>
      <li><a href="/price-list/" title="صفحه اصلی"><i class="icon-plus"></i><span>صفحه اصلی</span></a></li>
      <li><a href="/price-list/admin" title=" مدیریت"><i class="icon-plus"></i><span>مدیریت</span></a></li>
      <li><a href="/price-list/admin/users" title="کاربران"><i class="icon-bell"></i><span>کاربران</span></a></li>
    </ul>
  </nav>

  <div class="sidebar-bottom">
    <a href="/price-list/logout" title="خروج"><i class="icon-settings"></i><span>خروج</span></a>
  </div>
</aside>

<nav class="bottom-nav-mobile">
  <a href="/price-list/" title="صفحه اصلی"><img src="/assets/icons/home.svg" alt="صفحه اصلی" class="nav-icon"></a>
  <a href="/price-list/admin" title="مدیریت"><img src="/assets/icons/dashboard.svg" alt="مدیریت" class="nav-icon"></a>
  <a href="/price-list/admin/users" title="کاربران"><img src="/assets/icons/users.svg" alt="کاربران" class="nav-icon"></a>
  <a href="/price-list/logout" title="خروج"><img src="/assets/icons/message.svg" alt="خروج" class="nav-icon"></a>
</nav>
